<a href="https://colab.research.google.com/github/httpscarol/Tensorflow-First-Look/blob/main/Tensorflow_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1 - Importing and Sorting Data**

In [7]:
import tensorflow
import pandas as pds
from sklearn.model_selection import train_test_split

df = pds.read_csv('https://raw.githubusercontent.com/httpscarol/Tensorflow-First-Look/main/Churn.csv')

df

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7039,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7040,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7041,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7042,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7043,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [8]:
total = pds.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))

classify = df['Churn'].apply(lambda x:1 if x=='Yes' else 0)

In [9]:
total_treino, total_teste, classify_treino, classify_teste = train_test_split(total, classify, test_size=.2)

In [10]:
total_treino.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
5392,0,6,49.25,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2317,0,4,20.70,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
894,0,1,24.60,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2176,0,30,85.15,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6005,0,67,84.80,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
classify_treino.head()

5392    0
2317    0
894     1
2176    1
6005    0
Name: Churn, dtype: int64